absl-py==2.1.0
asgiref==3.8.1
astunparse==1.6.3
attrs==23.2.0
beautifulsoup4==4.12.3
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
colorama==0.4.6
contourpy==1.2.0
cycler==0.12.1
dj-static==0.0.6
Django==5.0.4
django-bootstrap4==24.3
django-stdimage==6.0.2
filelock==3.15.4
flatbuffers==24.3.25
fonttools==4.50.0
frozendict==2.4.4
fsspec==2024.6.1
gast==0.6.0
git-filter-repo==2.45.0
google-pasta==0.2.0
grpcio==1.65.0
gunicorn==22.0.0
h5py==3.11.0
html5lib==1.1
idna==3.6
intel-openmp==2021.4.0
jax==0.4.29
jaxlib==0.4.29
Jinja2==3.1.4
keras==3.4.1
kiwisolver==1.4.5
libclang==18.1.1
lxml==5.2.2
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.8.3
mdurl==0.1.2
mediapipe==0.10.14
mkl==2021.4.0
ml-dtypes==0.3.2
mpmath==1.3.0
multitasking==0.0.11
namex==0.0.8
networkx==3.2.1
numpy==1.26.4
opencv-contrib-python==4.10.0.82
opencv-python==4.10.0.82
opt-einsum==3.3.0
optree==0.12.1
packaging==24.0
pandas==2.2.1
peewee==3.17.6
pillow==10.2.0
platformdirs==4.2.2
protobuf==4.25.3
psutil==6.0.0
py-cpuinfo==9.0.0
pycparser==2.22
pygame==2.5.2
Pygments==2.18.0
pyparsing==3.1.2
python-dateutil==2.9.0.post0
pytz==2024.1
PyYAML==6.0.1
requests==2.31.0
rich==13.7.1
scipy==1.13.1
seaborn==0.13.2
six==1.16.0
sounddevice==0.4.7
soupsieve==2.5
sqlparse==0.5.0
static3==0.7.0
sympy==1.13.0
tbb==2021.13.0
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorflow==2.16.2
tensorflow-intel==2.16.2
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.4.0
torch==2.3.1
torchvision==0.18.1
tqdm==4.66.4
typing_extensions==4.12.2
tzdata==2024.1
ultralytics==8.2.54
ultralytics-thop==2.0.0
urllib3==2.2.1
webencodings==0.5.1
Werkzeug==3.0.3
whitenoise==6.6.0
wrapt==1.16.0
yfinance==0.2.40
